.alert {
  width: 300px;
  position: absolute;
  top: 13px;
  right: 10px;
  color: #fff;
}
.alert-success {
  background-color: #009432;
  border-color: #009432;
}
.alert-warning {
  background-color: #f79f1f;
  border-color: #f79f1f;
}
