<div class="container pt-4">

  <div><a routerLink="/add-task" class="btn btn-primary"> Add New Task</a></div>

  <div *ngIf="tasks.length === 0" class="mt-4">
    <p class="alert alert-primary">There is no tasks</p>
  </div>
  
  <div [@fadeIn]="state" class="mt-4 card" *ngIf="tasks.length !== 0">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of tasksService.tasks;index as i">
        <a class="align-middle">{{task.title}}</a>
        <button class="btn btn-danger float-right" (click)="deleteTask(i)">Delete</button>
        <a class="btn btn-success float-right mr-2" [routerLink]="['/view-task',i]">View</a>
        <a class="btn btn-primary float-right mr-2" [routerLink]="['/task',i]">Edit</a>
      </li>
    </ul>
  </div>
  
</div>